/* tops */

.tops {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
}

.topimage {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 50%;
    height: auto;
    opacity: 0;
    z-index: 1;
    animation: showTop 0.5s cubic-bezier(0, 1.5, 0.7, 1.01) 0.5s forwards;
  
}

.social {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.social a {
    display: table-cell;
    margin: 0 15px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #CFD8DC;
    border-radius: 50%;
    opacity: 0;
    animation: showSocial .3s 1.2s forwards;
    transition: all .2s;
}

.social a:hover {
    background-color: #4DB6AC;
}

.icon-style {
    height: 40px;
    width: 40px;
    line-height: 40px;
    color: #252525;
    font-size: 1.5em;
    vertical-align: middle;
    text-align: center;
}

@keyframes showSocial {
    from { 
        transform: scale(0);
        opacity: 0;
    }
    to { 
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes showTop {
    from { 
        transform: scale(0);
        opacity: 0;
    }
    to { 
        transform: scale(1);
        opacity: 1;
    }
}